# Fitting a Logistic Regression Model - Lab

## Introduction
In the last lecture, you were given a broad overview of logistic regression. This included two seperate packages for creating logistic regression models. We'll first investigate building logistic regression models with 

## Objectives

You will be able to:
* Understand and implement logistic regression

## Review

The stats model example we covered had four essential parts:
    * Importing the data
    * Defining X and y
    * Fitting the model
    * Analyzing model results

The corresponding code to these four steps was:

```
import pandas as pd
from patsy import dmatrices
import statsmodels.api as sm

#Step 1: Importing the data
salaries = pd.read_csv("salaries_final.csv", index_col = 0)

#Step 2: Defining X and y
y, X = dmatrices('Target ~ Age  + C(Race) + C(Sex)',
                  salaries, return_type = "dataframe")

#Step 3: Fitting the model
logit_model = sm.Logit(y.iloc[:,1], X)
result = logit_model.fit()

#Step 4: Analyzing model results
result.summary()
```

Most of this should be fairly familiar to you; importing data with Pandas, initializing a regression object, and calling the fit method of that object. However, step 2 warrants a slightly more in depth explanation.

The `dmatrices()` method above mirrors the R languages syntax. The first parameter is a string representing the conceptual formula for our model. Afterwards, we pass the dataframe where the data is stored, as well as an optional parameter for the formate in which we would like the data returned. The general pattern for defining the formula string is: `y_feature_name ~ x_feature1_name + x_feature2_name + ... + x_featuren_name`. You should also notice that two of the x features, Race and Sex, are wrapped in `C()`. This indicates that these variables are *categorical* and that dummy variables need to be created in order to convert them to numerical quantities. Finally, note that y itself returns a Pandas DataFrame with two columns as y itself was originally a categorical variable. With that, it's time to try and define a logistic regression model on your own!

## Your Turn - Step 1: Import the Data

Import the data stored in the file **titanic**.

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
import sklearn.preprocessing as preprocessing
from sklearn.model_selection import train_test_split
from scipy import stats
stats.chisqprob = lambda chisq, df: stats.chi2.sf(chisq, df)
import warnings
warnings.filterwarnings('ignore')
import statsmodels.api as sm

In [18]:
titanic = pd.read_csv("titanic.csv")
titanic.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

## Feature Description
<br>
-survival:    Survival
<br>
-PassengerId: Unique Id of a passenger
<br>
-pclass:    Ticket class
<br>
-sex:    Sex
<br>
-Age:    Age in years
<br>
-sibsp:    # of siblings / spouses aboard the Titanic  
<br>
-parch:    # of parents / children aboard the Titanic
<br>
-ticket:    Ticket number
<br>
-fare:    Passenger fare
<br>
-cabin:    Cabin number
<br>
-embarked:    Port of Embarkation

In [20]:
sum(titanic.Parch.isna())

0

## Step 2: Define X and Y

For our first foray into logistic regression, we are going to attempt to build a model that classifies whether an indivdual survived the Titanic shiwrech or not (yes its a bit morbid). Follow the programming patterns described above to define X and y.

In [12]:
titanic.Survived.value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [21]:
from patsy import dmatrices
y, X = dmatrices('Survived ~ Pclass + C(Sex) + Age + SibSp + Parch + Fare + C(Embarked)',
                  titanic, return_type = "dataframe")

## Step 3: Fit the model

Now with everything in place, initialize a regression object and fit your model!

### Warning: If you receive an error of the form "LinAlgError: Singular matrix"
Stats models was unable to fit the model due to some Linear Algebra problems. Specifically, the matrix was not invertable due to not being full rank. In layman's terms, there was a lot of redundant superfulous data. Try removing some features from the model and running it again.

In [22]:
logit_model = sm.Logit(y, X)
result = logit_model.fit()

Optimization terminated successfully.
         Current function value: 0.444061
         Iterations 6

## Step 4: Analyzing results

Generate the summary table for your model. Then, comment on the p-values associated with the various features you chose.

In [23]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  712
Model:                          Logit   Df Residuals:                      703
Method:                           MLE   Df Model:                            8
Date:                Mon, 27 May 2019   Pseudo R-squ.:                  0.3419
Time:                        10:44:21   Log-Likelihood:                -316.17
converged:                       True   LL-Null:                       -480.45
                                        LLR p-value:                 3.392e-66
====================================================================================
                       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept            5.6374      0.635      8.884      0.000       4.394       6.881
C(Sex)[T.male]      -2.6385      0.222    -11.871      0.000      -3.074      -2.203
C(Embarked)[T.Q]    -0.8235      0.600     -1.372      0.170      -2.000       0.353
C(Embarked)[T.S]    -0.4012      0.270     -1.484      0.138      -0.931       0.129
Pclass              -1.1993      0.165     -7.285      0.000      -1.522      -0.877
Age                 -0.0433      0.008     -5.266      0.000      -0.059      -0.027
SibSp               -0.3632      0.129     -2.815      0.005      -0.616      -0.110
Parch               -0.0603      0.124     -0.486      0.627      -0.303       0.183
Fare                 0.0014      0.003      0.566      0.572      -0.004       0.006
====================================================================================
"""

## Your analysis here

Looking at the p-values for our model's features, all except for Embarked, Parch, and Fare have p-values below the alpha threshold of 0.05. So we can consider Sex, Pclass, Age, and SibSp as significant features in our model for predicting survival of the Titanic's last voyage.

## Level - up

Create a new model, this time only using those features you determined were influential based on your analysis in step 4.

In [17]:
y, X = dmatrices('Survived ~ Pclass  + C(Sex) + Age + SibSp ',
                  titanic, return_type = "dataframe")

logit_model = sm.Logit(y, X)
result = logit_model.fit()

result.summary()

Optimization terminated successfully.
         Current function value: 0.445882
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  714
Model:                          Logit   Df Residuals:                      709
Method:                           MLE   Df Model:                            4
Date:                Mon, 27 May 2019   Pseudo R-squ.:                  0.3399
Time:                        10:35:54   Log-Likelihood:                -318.36
converged:                       True   LL-Null:                       -482.26
                                        LLR p-value:                 1.089e-69
==================================================================================
                     coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept          5.6008      0.543     10.306      0.000       4.536       6.666
C(Sex)[T.male]    -2.6235      0.215    -12.229      0.000      -3.044      -2.203
Pclass            -1.3174      0.141     -9.350      0.000      -1.594      -1.041
Age               -0.0444      0.008     -5.442      0.000      -0.060      -0.028
SibSp             -0.3761      0.121     -3.106      0.002      -0.613      -0.139
==================================================================================
"""

__Analysis__
<br>
The features chosen for this model all have p-values below the alpha threshold, validating that they are signifant to predicting survival.

## Summary 

Well done. In this lab we practiced using stats models to build a logistic regression model. We then reviewed interpreting the results, building upon our previous stats knowledge, similar to linear regression. Continue on to take a look at building logistic regression models in Sci-kit learn!